/* Everywhere */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header a , footer a {
    color: inherit;
    text-decoration: inherit;
}

ul , menu {
    list-style: none;
}

/* General container rules */
.align-container {
    margin-left: auto;
    margin-right: auto;
}

.container-75rem {
    width: 90%;
    max-width: 75rem;
}

.container-62_50rem {
    width: 80%;
    max-width: 62.5rem;
}

/* General flex containers */
.column-container {
    display: flex;
    justify-content: space-between;
}

/* General flex items */
.column {
    flex-grow: 1;
    flex-shrink: 0;
}

.column-double {
    flex-grow: 2;
    flex-shrink: 0;
}

/* Visual buttons */
.visual-button {
    display: inline-block;
    color: #ffffff;
    background-color: #0061ff;
    padding: .5em .75em;
}

.visual-button:hover {
    background-color: #2779ff;
    box-shadow: 0 0.25em 0.5em #00000050;
}

.visual-button:active {
    background-color: #0045b4;
    box-shadow: inset 0 0.5em 1em #00000050;
}

/* Toggle style switch */
.toggle-switch {
    appearance: none;
    position: relative;
    width: 2.75em;
    height: 1.5em;
    vertical-align: text-top;
    background-color: #d4d4d4;
    cursor: pointer;

    transition: .5s;
}

.toggle-switch::after {
    content: '';
    position: absolute;
    top: .25em;
    left: .25em;
    height: 1em;
    width: 1em;
    background-color: #ffffff;

    transition: .5s;
}

.toggle-switch:checked {
    background-color: #0061ff;
}

.toggle-switch:checked::after {
    left: calc(100% - 1.25em);
}



/* Header */
header {
    background-color: #b4d0e7;
}


/* Top navigation bar */
#nav-bar {
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    width: 100%;
    
    align-items: center;
    
    font-weight: 500;
    text-align: center;
}

.nav-bar-left , .nav-bar-right {
    white-space: nowrap;
}

.nav-bar-right {
    font-weight: 300;
}

#nav-bar > menu > li {
    position: relative;
    margin: 0 1rem;
    display: inline-block;
}

#nav-bar img {
    vertical-align: text-bottom;
}

.nav-bar-link-wrapper > a {
    display: inline-block;
    padding: 2em 0;
    border-bottom: 2px solid #00000000;
}

.nav-bar-link-wrapper:hover > a {
    color: #0061ff;
}

.nav-bar-left .nav-bar-link-wrapper:hover > a {
    border-color: #0061ff;
}

/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    z-index: 15;
    width: max-content;
    padding: .5rem;
    background-color: #ffffff;
    border-radius:0 .75rem .75rem .75rem;
    border: 2px solid #0061ff;

    text-align: left;
}

.nav-bar-link-wrapper:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: .5rem;
    border-radius: .25rem;
    color: #0061ff;
}

.dropdown a:hover {
    background-color: #d4d4d4;
}

.dropdown img {
    height: 2.25rem;
    vertical-align: middle;
}


/* Jumbo */
#jumbo {
    position: relative;
    top: 8rem;
    
    padding-bottom: 3rem;
}

#jumbo .column-container {
    flex-wrap: wrap-reverse;
    align-items: stretch;
}

h1 {
    font-size: 4.75rem;
    margin-bottom: 3rem;
}

#jumbo .column {
    flex-basis: 15rem;
    
    display: flex;
    flex-flow: column nowrap;
}
#jumbo .column > * {
    display: block;
}

#jumbo .visual-button {
    width: fit-content;
    margin: 2rem 0;
}

#jumbo .link-to-section {
    font-size: 3rem;
    padding: 3rem 0 6rem;
    margin: auto 0;
}

#jumbo .column-double {
    flex-basis: 30rem;
}

#jumbo img {
    width: 100%;
}