/* Everywhere */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

header a , footer a {
    color: inherit;
    text-decoration: inherit;
}

ul , menu {
    list-style: none;
}

/* General container rules */
.align-container {
    margin-left: auto;
    margin-right: auto;
}

.container-75rem {
    width: 90%;
    max-width: 75rem;
}

.container-62_5rem {
    width: 80%;
    max-width: 62.5rem;
}

/* General flex containers */
.column-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

/* General flex items */
.column {
    flex-grow: 1;
    flex-shrink: 0;
}

.column-double {
    flex-grow: 2;
    flex-shrink: 0;
}

/* Visual buttons */
.visual-button {
    display: inline-block;
    padding: .5em .75em;
    border: 1px solid #00000000;
}

.visual-button.button-blue {
    color: #ffffff;
    background-color: #0061ff;
}

.visual-button.button-grey {
    color: #b4b4b4;
    background-color: #ffffff;
    border-color: #b4b4b4;
}

.visual-button:hover {
    box-shadow: 0 0.25em 0.5em #00000050;
}

.visual-button.button-blue:hover {
    background-color: #2779ff;
}

.visual-button:active {
    box-shadow: inset 0 0.5em 1em #00000050;
}

.visual-button.button-blue:active {
    background-color: #0045b4;
}

/* Toggle style switch */
.toggle-switch {
    appearance: none;
    position: relative;
    width: 2.75em;
    height: 1.5em;
    vertical-align: text-top;
    background-color: #b4b4b4;
    cursor: pointer;

    transition: .5s;
}

.toggle-switch::after {
    content: '';
    position: absolute;
    top: .25em;
    left: .25em;
    height: 1em;
    width: 1em;
    background-color: #ffffff;

    transition: .5s;
}

.toggle-switch:checked {
    background-color: #0061ff;
}

.toggle-switch:checked::after {
    left: calc(100% - 1.25em);
}



/* Header */
header {
    background-color: #b4d0e7;
}


/* Top navigation bar */
#nav-bar {
    background-color: #ffffff;
    position: fixed;
    z-index: 10;
    width: 100%;
    
    align-items: center;
    
    font-weight: 500;
    text-align: center;
}

.nav-bar-left , .nav-bar-right {
    white-space: nowrap;
}

.nav-bar-right {
    font-weight: 300;
}

#nav-bar > menu > li {
    position: relative;
    margin: 0 1rem;
    display: inline-block;
}

#nav-bar .logo {
    vertical-align: text-bottom;
}

.nav-bar-link-wrapper > a {
    display: inline-block;
    padding: 2em 0;
    border-bottom: 2px solid #00000000;
}

.nav-bar-link-wrapper:hover > a {
    color: #0061ff;
}

.nav-bar-left .nav-bar-link-wrapper:hover > a {
    border-color: #0061ff;
}

/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    z-index: 15;
    width: max-content;
    padding: .5rem;
    background-color: #ffffff;
    border-radius:0 .75rem .75rem .75rem;
    border: 2px solid #0061ff;

    text-align: left;
}

.nav-bar-link-wrapper:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: .5rem;
    border-radius: .25rem;
    border: 1px solid #00000000;
}

.dropdown a:hover {
    border-color: #b4b4b4;
    color: #0061ff;
}

.dropdown img {
    height: 2.25rem;
    vertical-align: middle;
}


/* Jumbo */
#jumbo {
    position: relative;
    top: 8rem;
    
    padding-bottom: 3rem;
}

#jumbo .column-container {
    flex-wrap: wrap-reverse;
    align-items: stretch;
}

h1 {
    font-size: 4.75rem;
    margin-bottom: 3rem;
}

#jumbo .column {
    flex-basis: 15rem;
    
    display: flex;
    flex-flow: column nowrap;
}
#jumbo .column > * {
    display: block;
}

#jumbo .visual-button {
    width: fit-content;
    margin: 2rem 0;
}

#link-to-plans {
    font-size: 3rem;
    padding: 3rem 0 0;
    margin:auto 0 6rem;
}

#jumbo .column-double {
    flex-basis: 30rem;
}

#jumbo img {
    width: 100%;
}



/* Main */
main > section {
    margin-top: 8rem;
}

h2 {
    font-size: 2.5rem;
}

main .visual-button {
    text-decoration: none;
}


/* Plans section */
.preferred-invoicing {
    margin: 3rem 0;
    padding: .5rem;
    
    text-align: center;
}

.preferred-invoicing label {
    display: inline-block;
}

.preferred-invoicing .toggle-switch {
    margin: 0 1rem;
}

#plans > .column-container {
    margin-bottom: 2rem;

    align-items: stretch;
    flex-wrap: wrap;
}

/* Plan details */
.plan-overview {
    border: 1px solid #b4b4b4;
}

.plan-overview.column {
    flex-basis: 15.5rem;
}

.plan-overview strong {
    display: block;
    border-bottom: 1px solid #b4b4b4;
    text-align: center;
    font-weight: 400;
    padding: .5rem;
}

.plan-overview > div {
    padding: 1.5rem;
}

.plan-overview h3 {
    font-size: 2rem;
}

.cost {
    display: block;
    margin: 2rem 0 1.5rem;
}

.cost-details {
    display: block;
    color: #b4b4b4;
    min-height: 1.5em;
}

.plan-overview ul {
    padding-top: 3rem;
}

.plan-overview li {
    padding: .75rem 0;
    
    display: flex;
}

.plan-overview li span {
    display: inline-block;
    padding-right: .5em;
    height: 100%;
}

.features {
    min-height: 20rem;
}

.plan-overview .visual-button {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}

.plan-overview .or-border {
    display: inline-block;
    padding-bottom: 3rem;
    border-bottom: 1px solid #b4b4b4;
}

.selling-points > span {
    display: block;
    padding: 1rem 0;
    font-weight: 700;
}

.selling-points li span {
    color: #0061ff;
}

.plan-overview:not(.column) .column-container {
    align-items: flex-start;
    flex-wrap: wrap;
}

.plan-overview:not(.column) .column-double {
    flex-basis: 20rem;
}

.plan-overview:not(.column) p {
    margin-bottom: 1.5rem;
}

.plan-overview:not(.column) .column {
    flex-basis: 10rem;
}


/* Partners section */
#partner-dropbox {
    flex-wrap: wrap-reverse;
}

#partner-dropbox .column {
    flex-basis: 15rem;
}

#partner-dropbox .column-double {
    flex-basis: 30rem;
}

#partner-dropbox img {
    width: 100%;
}

#partner-dropbox h2 {
    margin-top: 2rem;
    font-size: 1.75rem;
}

#partner-dropbox p {
    margin: 1rem 0 2rem;
}


/* Dropbox business section */
#business-dropbox .column-container {
    margin-top: 3rem;
    
    flex-wrap: wrap;
}

#business-dropbox .column {
    flex-basis: 15.5rem;
}

#business-dropbox img {
    width: 100%;
}

#business-dropbox p {
    margin-top: 1rem;
}